body {
    margin: 30px;
    font-family: "poppins";
}

header {
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
    gap: 40px;
    border-radius: 40px;
    flex: wrap;
    align-items: start;
    height: 100%;
    align-self: stretch;
    flex-grow: 1;
    background:
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("resources/background2.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'poppins';
    color: #FFFFFF;
}

header main {
    font-family: "poppiins";
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    padding: 20px 0px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.round {
    border-radius: 100px;
    background-color: white;
    display: flex;
    padding: 6px;
    color: black;
}

.row-Container {
    gap: 20px;
    align-items: start;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.chu {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 5px;
}

.chu2 {
    font-size: 20px;
}

.align-center {
    align-items: center;
}

.image-container {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: black;
    font-size: medium;
    align-self: stretch;
    height: 50%;
    align-items: baseline;
}

.image-container img {
    border-radius: 20px;
    height: 100px;
    width: 100px;
}


a {
    color: white;
}

a:hover {
    color: black;
    background-color: white;
    border-radius: 25px;
    padding-right: 10px;
}

.row-Container {
    gap: 20px;
    align-items: baseline;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}