* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    font-family: "poppins";
    color: ghostwhite;
}




.loader {
    position: relative;
    width: 200px;
    height: 100px;
    overflow: hidden;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #005);
}

.loader:hover {
    background: #03e9f4;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 200px #03e9f4;
}

.loader span {
    display: block;
    position: absolute;
}

.loader span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animate1 1s linear infinite;
    animation-delay: 0s;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;

    }
}

.loader span:nth-child(3) {
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 10px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0s;
}

@keyframes animate3 {
    0% {
        left: 100%;
    }

    100% {
        left: -100%;

    }
}

.loader span:nth-child(2) {
    right: 0;
    top: -100%;
    width: 10px;
    ;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    100% {
        top: 100%;

    }
}

.loader span:nth-child(4) {
    left: 0;
    top: -100%;
    width: 10px;
    ;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate4 {
    0% {
        top: 100%;
    }

    100% {
        top: -100%;

    }
}




.loader2 {
    position: relative;
    width: 200px;
    height: 100px;
    overflow: hidden;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #005);
}

.loader2:hover {
    background: #f403d4;
    box-shadow: 0 0 5px #f403d4,
        0 0 25px #f403d4,
        0 0 50px #f403d4,
        0 0 200px #f403d4;
}

.loader2 span {
    display: block;
    position: absolute;
}

.loader2 span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg, transparent, #f403d4);
    animation: animate1 1s linear infinite;
    animation-delay: 0s;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;

    }
}

.loader2 span:nth-child(3) {
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 10px;
    background: linear-gradient(270deg, transparent, #f403d4);
    animation: animate3 1s linear infinite;
    animation-delay: 0s;
}

@keyframes animate3 {
    0% {
        left: 100%;
    }

    100% {
        left: -100%;

    }
}

.loader2 span:nth-child(2) {
    right: 0;
    top: -100%;
    width: 10px;
    ;
    height: 100%;
    background: linear-gradient(180deg, transparent, #f403d4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    100% {
        top: 100%;

    }
}

.loader2 span:nth-child(4) {
    left: 0;
    top: -100%;
    width: 10px;
    ;
    height: 100%;
    background: linear-gradient(180deg, transparent, #f403d4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate4 {
    0% {
        top: 100%;
    }

    100% {
        top: -100%;

    }
}




.loader3 {
    position: relative;
    width: 200px;
    height: 100px;
    overflow: hidden;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #005);
}

.loader3:hover {
    background: #03f423;
    box-shadow: 0 0 5px #03f423,
        0 0 25px #03f423,
        0 0 50px #03f423,
        0 0 200px #03f423;
}

.loader3 span {
    display: block;
    position: absolute;
}

.loader3 span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg, transparent, #03f423);
    animation: animate1 1s linear infinite;
    animation-delay: 0s;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;

    }
}

.loader3 span:nth-child(3) {
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 10px;
    background: linear-gradient(270deg, transparent, #03f423);
    animation: animate3 1s linear infinite;
    animation-delay: 0s;
}

@keyframes animate3 {
    0% {
        left: 100%;
    }

    100% {
        left: -100%;

    }
}

.loader3 span:nth-child(2) {
    right: 0;
    top: -100%;
    width: 10px;
    ;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03f423);
    animation: animate2 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    100% {
        top: 100%;

    }
}

.loader3 span:nth-child(4) {
    left: 0;
    top: -100%;
    width: 10px;
    ;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03f423);
    animation: animate4 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate4 {
    0% {
        top: 100%;
    }

    100% {
        top: -100%;

    }
}

