body{
    background: #FFFFFF;
}

.image1{
width: 50%;
height: 100%;
display: flex;
flex-direction: column;
}

.frame1{
    display: flex;
flex-direction: column;
width: 50%;
height: 100%;
background-color: blue;
}

.row{
    display: flex;
    flex-direction: row;
}